* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.wow {
    visibility: hidden;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    max-width: 100%;
}

button {
    background: transparent;
    border: none;
    outline: none;
}

html, body {
    height: 100%;
    min-height: 100%;
}

section:not(:first-of-type) {
    padding: 100px 0;
}

header {
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    z-index: 102;
}

.header__container {
    margin: 0 100px;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav__item {
    position: relative;
    margin-right: 60px;
    font-size: 16px;
    line-height: 1.5;
    color: #586282;
}

.nav__item::after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #586282;
    content: "";
    -webkit-transition: width 0.3s ease-out;
    -o-transition: width 0.3s ease-out;
    transition: width 0.3s ease-out;
}

.nav__item:hover::after {
    width: 100%;
}

.nav__item:last-child {
    margin-right: 0;
}

.logo {
    font-family: Celestina;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    color: #fff;
}

.burger {
    cursor: pointer;
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
    background: transparent;
    margin-left: 55px;
    top: 1px;
}

.burger::before, .burger::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    background: #fff;
    -webkit-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
    will-change: transform;
}

.burger::after {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
}

.burger::before {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
}

.is-active.burger::before {
    -webkit-transform: translateY(0) rotate(45deg);
    -ms-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
}

.is-active.burger::after {
    -webkit-transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
}

.menu-toggle {
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .6s, visibility .6s;
    -o-transition: opacity .6s, visibility .6s;
    transition: opacity .6s, visibility .6s;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 99;
}

.menu-toggle.is-active {
    opacity: 1;
    visibility: visible;
}

.menu-toggle__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform .6s;
    transition: -webkit-transform .6s;
    -o-transition: transform .6s;
    transition: transform .6s;
    transition: transform .6s, -webkit-transform .6s;
    padding: 40px 60px;
    width: 100%;
    height: 100%;
    background: #7481AA;
    will-change: transform;
    margin: auto;
    margin-right: 0;
    min-height: 400px;
}

.menu-toggle__inner.is-active {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}

.nav a {
    display: block;
    font-size: 24px;
    margin-top: 40px;
    text-align: center;
    color: #fff;
}

/* aerography */

.section__aerography {
    width: 100%;
    height: 100%;
}

.section__aerography-row {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.section__aerography-bg {
    background: #7481AA;
    width: 50%;
    min-width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.section__aerography-meImg {
    position: absolute;
    right: -140px;
    height: 90%;
    max-height: 793px;
    margin-left: 100px;
    z-index: 10;
    padding-top: 100px;
    padding-left: 20px;
}

.section__aerography-meImg img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.section__aerography-content {
    height: 100%;
    min-width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.section__aerography-box {
    max-width: 580px;
    margin-right: 100px;
    margin-left: 180px;
}

.section__aerography-title {
    font-family: Celestina;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 2;
    color: #C8D1ED;
}

.section__aerography-description {
    line-height: 1.5;
    color: #2C698D;
    max-width: 580px;
}

.section__aerography-signature {
    position: absolute;
    top: 0;
    left: 100px;
    width: 2px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__aerography-signature p {
    color: #fff;
    font-size: 20px;
    transform: rotate(-90deg);
    text-transform: uppercase;
    background: #7481aa;
    padding: 0 32px;
    position: relative;
    z-index: 9;
    white-space: nowrap;
}

.section__aerography-signature::after {
    content: "";
    position: absolute;
    width: 2px;
    border-radius: 2px;
    height: 50%;
    background: #fff;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    z-index: 1;
}

/* services */

.section__services {
    width: 100%;
}

.section__services-signature {
    position: relative;
    width: 100%;
}

.section__services-signature::after {
    content: "";
    position: absolute;
    width: 100%;
    border-radius: 2px;
    height: 2px;
    background: #7481AA;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}

.section__services-signature p {
    font-size: 20px;
    display: inline;
    color: #7481AA;
    text-transform: uppercase;
    background: #fff;
    padding: 0 32px;
    position: relative;
    z-index: 9;
    white-space: nowrap;
    margin-left: 68px;
}

.services__list {
    padding: 100px 0;
    display: flex;
    flex-wrap: nowrap;
}

.services__item {
    position: relative;
    height: 80vh;
    display: flex;
    flex: 2;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: background-size 500ms ease-in-out, flex 500ms ease-in-out;
    overflow: hidden;
    margin-right: 4px;
}

.services__item:last-child {
    margin-right: 0;
}

.services__item:nth-child(1) {
    background-image: url("../img/service1.jpg");
}

.services__item:nth-child(2) {
    background-image: url("../img/service2.jpg");
}

.services__item:nth-child(3) {
    background-image: url("../img/service3.jpg");
}

.services__item.active {
    flex: 3;
}

.services__item-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #586282;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
}

.services__item-content {
    position: absolute;
    width: 100%;
    top: 70px;
    left: 40px;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: all 500ms ease-in-out;
}

.services__item.active .services__item-overlay {
    opacity: 0.5;
    visibility: visible;
}

.services__item.active .services__item-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.services__item-order {
    font-size: 36px;
    color: #C8D1ED;
}

.services__item-text {
    font-size: 20px;
    color: #fff;
    white-space: nowrap;
}

/* about-me  */

.section__about-me-signature-title {
    display: none;
    position: relative;
    width: 100%;
}

.section__about-me-signature-title::after {
    content: "";
    position: absolute;
    width: 100%;
    border-radius: 2px;
    height: 2px;
    background: #7481AA;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}

.section__about-me-signature-title p {
    font-size: 20px;
    display: inline;
    color: #7481AA;
    text-transform: uppercase;
    background: #fff;
    padding: 0 32px;
    position: relative;
    z-index: 9;
    white-space: nowrap;
    margin-left: 68px;
}

.section__about-me-bg {
    display: flex;
    align-items: center;
    position: relative;
    background: #7481AA;
    width: 100%;
    max-height: 507px;
    min-height: 507px;
}

.section__about-me-signature {
    position: absolute;
    top: 0;
    left: 100px;
    width: 2px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 12;
}

.section__about-me-signature::after {
    content: "";
    position: absolute;
    width: 2px;
    border-radius: 2px;
    height: 100%;
    background: #fff;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    z-index: 1;
}

.section__about-me-signature p {
    color: #fff;
    font-size: 20px;
    transform: rotate(-90deg);
    text-transform: uppercase;
    background: #7481aa;
    padding: 0 32px;
    position: relative;
    z-index: 9;
    white-space: nowrap;
}

.section__about-me-content {
    padding: 40px 40px 40px 0;
    margin-left: 15%;
    max-width: 40%;
}

.section__about-me-title {
    font-family: Celestina;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    color: #C8D1ED;
}

.section__about-me-description {
    line-height: 1.5;
    color: #FFFFFF;
    margin-top: 16px;
}

.section__about-me-img {
    position: absolute;
    right: 100px;
    top: -100px;
    height: calc(100% + 200px);
    max-height: 700px;
}

.section__about-me-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* contacts */

.section__contacts {
    margin: 0 100px;
}

.section__contacts-container {
    position: relative;
    max-width: 1368px;
    margin: auto;
}

.border__left {
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
    height: 60%;
    max-height: 303px;
    border-top: 2px solid #7481AA;
    border-left: 2px solid #7481AA;
}

.border__left-inside {
    position: absolute;
    left: 25px;
    top: 25px;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    border-top: 1px solid #7481AA;
    border-left: 1px solid #7481AA;
}

.border__left-text-box {
    position: absolute;
    top: 0;
    left: -10px;
    width: 2px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border__left-text {
    font-size: 20px;
    color: #7481AA;
    transform: rotate(-90deg);
    text-transform: uppercase;
}

.border__right {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40%;
    height: 60%;
    max-height: 303px;
    border-bottom: 2px solid #7481AA;
    border-right: 2px solid #7481AA;
}

.border__right-inside {
    position: absolute;
    right: 25px;
    bottom: 25px;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    border-bottom: 1px solid #7481AA;
    border-right: 1px solid #7481AA;
}

.border__right-text-box {
    position: absolute;
    bottom: 21px;
    left: 50px;
}

.border__right-text {
    font-size: 20px;
    color: #7481AA;
    text-transform: uppercase;
}

.section__contacts-content {
    padding: 120px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.section__contacts-content-title {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    font-family: Celestina;
    font-size: 280px;
    color: #F1F2F7;
}

.contacts__item-icon {
    width: 40px;
    height: 40px;
}

.contacts__item {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.contacts__item-text {
    margin-left: 16px;
    font-size: 20px;
    color: #7481AA;
}

/* products */


.section__products-signature {
    position: relative;
    width: 100%;
}

.section__products-signature::after {
    content: "";
    position: absolute;
    width: 100%;
    border-radius: 2px;
    height: 2px;
    background: #7481AA;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}

.section__products-signature p {
    font-size: 20px;
    display: inline;
    color: #7481AA;
    text-transform: uppercase;
    background: #fff;
    padding: 0 32px;
    position: relative;
    z-index: 9;
    white-space: nowrap;
    margin-left: 68px;
}

.product__list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__list {
    max-width: 1720px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    margin: 0 90px;
}

.product__item {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 25%;
    padding: 0px 10px 40px;
}

.product__item-img {
    display: flex;
    width: 100%;
    height: 100%;
}

.product__item-name {
    color: #8674AA;
    margin-top: 16px;
    font-size: 18px;
}

.product__item-price {
    margin-top: 16px;
    font-size: 18px;
    color: #8674AA;
    font-weight: bold;
}

.btn__details {
    display: flex;
    align-items: center;
    margin-top: 16px;
    color: #586282;
}

.btn__details .arrow {
    transform: translateX(5px);
    transition: transform .4s;
}

.btn__details:hover .arrow {
    transform: translateX(10px);
}

footer {
    padding: 50px 0;
    background: #586282;
}

.footer__logo {
    display: block;
    text-align: center;
}

.footer__copyright {
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.footer__nav {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.footer__nav a {
    display: block;
    margin: 0 15px;
    color: #fff;
}

/* product page */
.product__section {
    height: 100%;
    margin-bottom: 200px;
}

.product__section-row {
    width: 100%;
    height: 100%;
    display: flex;
}

.product__img-bg {
    position: relative;
    width: 40%;
    max-width: 660px;
    height: 100%;
    background: #7481aa;
}

.product__img {
    position: absolute;
    left: 100px;
    width: 100%;
    top: 50px;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
}

.product__name {
    font-family: Celestina;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 2;
    color: #C8D1ED;
}

.product__details {
    width: 60%;
    height: 100%;
    display: flex;
}

.product__details-content {
    max-width: 600px;
    margin: auto;
    margin-left: 220px;
    margin-right: 100px;
}

.product__description {
    color: #2C698D;
}

.product__size {
    margin-top: 16px;
    color: #2C698D;
}

.product__price {
    margin-top: 16px;
    font-size: 24px;
    color: #7481AA;
}

.btn__product-buy {
    cursor: pointer;
    margin-top: 16px;
    width: 200px;
    color: #7481aa;
    padding: 16px 0;
    font-size: 18px;
    border-color: #7481aa;
    border-style: solid;
    border-width: 1px;
    transition: background .4s, color .4s;
}

.btn__product-buy:hover {
    background: #7481aa;
    color: #fff;
}

/* modal */
.deposit-modal {
    opacity: 0;
    visibility: hidden;
    transition: ease-in-out opacity 400ms, visibility 400ms;
    width: 100%;
    height: 100vh;
    background: rgba(116, 129, 170, .8);
    position: fixed;
    top: 0;
    z-index: 998;
    overflow: auto;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.deposit-modal.is-active {
    opacity: 1;
    visibility: visible;
}


.deposit-modal__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
    padding: 40px 16px 30px;
    width: calc(100% - 30px);
    max-width: 600px;
    will-change: transform;
    margin: auto;
    background: #fff;
}

.deposit-modal__inner.is-active {
    transform: translateY(0);
}

@media(max-width: 1366px) {
    section:not(:first-of-type) {
        padding: 50px 0;
    }

    .services__list {
        padding: 50px 0;
    }

    .section__about-me-img {
        top: -50px;
        height: calc(100% + 100px);
    }

    .product__list {
        padding-top: 50px;
    }
}

@media (max-width: 1200px) {
    .section__aerography-meImg {
        right: 0;
        padding-right: 20px;
        height: 100%;
        margin-left: 20px;
    }

    .header__container {
        margin: 0 40px;
    }

    .section__aerography-signature {
        left: 15px;
    }

    .section__aerography-box {
        margin: 0 40px;
    }

    .nav__item {
        margin-right: 30px;
    }

    .section__contacts {
        margin: 0 15px;
    }

    .section__about-me-content {
        margin-left: 15px;
        max-width: 50%;
        padding-right: 40px;
    }

    .section__about-me-img {
        display: flex;
        position: static;
        top: initial;
        right: initial;
        height: auto;
        max-height: initial;
        max-width: 50%;
        padding: 20px;
    }

    .section__about-me-bg {
        margin-top: 50px;
        max-height: initial;
        min-height: initial;
    }

    .product__list {
        margin: 0 10px;
    }

    .product__item {
        max-width: 33.33333333%;
    }

    .section__products-signature p, .section__services-title p {
        margin-left: 20px;
    }

    .section__about-me-signature-title {
        display: block;
    }

    .section__about-me-signature {
        display: none;
    }

    .services__list {
        padding: 0;
        padding-top: 50px;
    }

    body .section__services {
        padding-bottom: 0;
    }

    .services__list {
        flex-direction: column;
    }

    .services__item {
        width: 100%;
        display: block;
        min-height: 200px;
        max-height: 200px;
        display: block;
        height: auto;
        transition: none;
        cursor: auto;
        margin-bottom: 4px;
        margin-right: 0;
    }

    .services__item:last-child {
        margin-bottom: 0;
    }

    .services__item-overlay {
        opacity: 0.5;
        visibility: visible;
        transition: none;
    }

    .services__item-content {
        opacity: 1;
        visibility: visible;
        transition: none;
        transform: translateY(0);
    }

    .product__img {
        left: 40px;
    }

    .product__details-content {
        max-width: 600px;
        margin: auto;
        margin-left: 80px;
        margin-right: 40px;
    }

    .product__section {
        margin-bottom: 100px;
    }
}

@media (max-width: 992px) {
    header nav {
        display: none;
    }

    body.overflow {
        overflow: hidden;
    }

    .menu-toggle {
        display: block;
    }

    .burger {
        display: block;
    }

    .logo {
        font-size: 50px;
    }

    .section__aerography {
        height: auto;
    }

    .section__aerography-row {
        flex-direction: column;
        justify-content: space-between;
        background: #7481aa;
        padding-bottom: 30px;
    }

    .section__aerography-bg {
        width: 100%;
        margin-top: 90px;
        padding-left: 15px;
    }

    .section__aerography-meImg {
        position: static;
        height: 100%;
        padding: 0 15px;
        margin: auto;
        display: flex;
        width: 100%;
        height: calc(100vh - 360px);
        min-height: 360px;
    }

    .section__aerography-meImg img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .section__aerography-signature::after {
        height: 100%;
    }

    .section__aerography-description {
        color: #fff;
    }

    .header__container {
        margin: 0 15px;
    }

    .section__aerography-box {
        margin: 0 15px;
        max-width: 100%;
    }

    .section__aerography-description {
        max-width: 100%;
    }

    .section__about-me-bg {
        display: block;
        padding: 15px;
    }

    .section__about-me-content {
        max-width: 100%;
        padding: 0;
        margin-left: 0;
    }

    .section__about-me-img {
        padding: 0;
        padding-top: 15px;
        max-width: 100%;
        overflow: hidden;
    }

    .section__contacts-content-title {
        font-size: 200px;
    }

    .product__item {
        max-width: 50%;
        padding: 0px 5px 20px;
        min-width: 300px;
    }

    .border__right-text-box {
        display: none;
    }

    .border__left-inside {
        left: 15px;
        top: 15px;
    }

    .border__right-inside {
        right: 15px;
        bottom: 15px;
    }

    .product__list-container {
        overflow: hidden;
    }

    .product__list {
        padding: 50px 10px 0;
        flex-wrap: nowrap;
        overflow-x: scroll;
        width: 100%;
    }

    body .section__products {
        padding-bottom: 0;
    }

    .services__item-content {
        top: 40px;
        left: 20px;
    }

    .services__item-order {
        font-size: 24px;
    }

    .services__item-text {
        font-size: 16px;
    }

    .product__img-bg {
        background: transparent;
    }

    .product-page.overflow .logo {
        color: #fff;
    }

    .product-page header .logo {
        color: #7481aa;
    }

    .product-page .burger::before, .product-page .burger::after {
        background: #7481aa;
    }

    .product-page .is-active.burger::before, .product-page .is-active.burger::after {
        background: #fff;
    }

    .product__section {
        height: auto;
    }

    .product__section-row {
        display: block;
        margin-top: 100px;
    }

    .product__img-bg {
        width: 100%;
        position: static;
        margin: auto;
        max-width: 500px;
    }

    .product__img {
        width: 100%;
        position: static;
    }

    .product__details {
        display: block;
        width: 100%;
    }

    .product__details-content {
        max-width: 100%;
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (max-width: 768px) {
    .section__products-signature, .section__services-title, .section__about-me-signature-title, .section__services-signature {
        text-align: center;
    }

    .section__aerography-signature p, .border__left-text, .section__products-signature p, .section__services-title p, .section__about-me-signature-title p, .section__services-signature p {
        margin: auto;
    }
}

@media (max-width: 480px) {
    section:not(:first-of-type) {
        padding: 20px 0;
    }

    .services__list {
        padding-top: 20px;
    }

    body .section__services {
        padding-bottom: 0;
    }

    .section__about-me-bg {
        margin-top: 20px;
    }

    .section__aerography-row {
        padding-bottom: 50px;
    }

    .product__list {
        padding-top: 40px;
    }

    .section__aerography-meImg {
        min-height: initial;
    }

    .section__aerography-content {
        position: relative;
        top: -30px;
    }

    .section__aerography-title, .section__about-me-title, .product__name {
        font-size: 36px;
    }

    .section__aerography-title {
        line-height: 1;
    }

    .section__aerography-description, .section__about-me-description {
        font-size: 14px;
        margin-top: 8px;
    }

    .product__description, .product__size {
        font-size: 14px;
    }

    .section__aerography-bg {
        margin-top: 52px;
    }

    .product__section-row {
        margin-top: 52px;
    }

    .product__section {
        margin-bottom: 50px;
    }

    .logo {
        font-size: 40px;
    }

    .section__aerography-signature {
        left: 14px;
    }

    .section__aerography-signature::after {
        width: 1px;
    }

    .contacts__item-text {
        font-size: 16px;
    }

    .contacts__item-icon {
        width: 30px;
        height: 30px;
    }

    .section__contacts-content-title {
        font-size: 110px;
    }

    .border__left-text-box {
        left: -7px;
    }

    .section__aerography-signature p, .border__left-text, .section__products-signature p, .section__services-title p, .section__about-me-signature-title p, .section__services-signature p {
        font-size: 16px;
        padding: 0px 12px;
    }

    .section__services-title::after, .section__products-signature::after, .section__about-me-signature-title::after, .section__services-signature::after {
        height: 1px;
    }

    .border__right {
        border-bottom: 1px solid #7481AA;
        border-right: 1px solid #7481AA;
    }

    .border__left {
        border-top: 1px solid #7481AA;
        border-left: 1px solid #7481AA;
    }

    footer {
        padding: 20px 0;
    }

    .footer__nav {
        padding: 20px 0;
        flex-wrap: wrap;
    }

    .footer__nav a {
        width: 100%;
        margin: auto;
        text-align: center;
        padding: 5px;
    }

    .services__item-text {
        white-space: initial;
    }
    .section__products-signature, .section__services-title, .section__about-me-signature-title, .section__services-signature {
        text-align: center;
        padding: 40px 0;
    }
    body .section__about-me{
        padding-bottom: 40px;
    }
    body .section__contacts{
        padding-top: 40px;
    }
}

@media (max-height: 350px) {
    .nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .nav a {
        margin: 5px;
        font-size: 20px;
    }
}